body {
    background: rgb(213, 213, 213);

    header {
        background-color: red;
    }
    
    main {
        background-color: rgb(104, 104, 242);
    }
    
    footer {
        background-color: rgb(193, 27, 193);
    }

}

