body {
        font-family: fantasy;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
        height: 100vh;
        background-color: #c11b1be2;

    header {
        color: #fff;              
        padding: 40px 20px;        
        text-align: center;      
        // border-top: 4px solid #eab208;  
        border-bottom: 4px solid #eab208; 
    
        .header-content {
            max-width: 1200px;
            margin: 0 auto;       
        }
    
        h1 {
            font-size: 2.5em;   
            margin-bottom: 10px;
            letter-spacing: 2px; 
            text-transform: uppercase;
            color: #ffcc00;      
        }
    
        h2 {
            font-size: 1.5em;    
            margin-bottom: 0;
            font-weight: 300;    
            color: #fbfbfb;        
        }
    }
    
    
    main {
        background-image: url("../images/dfhfhfhffh.jpg");
        // background: linear-gradient(135deg, #fad65edc, #b2ad6fdf); 
        max-width: 100%;  
        padding: 20px;  
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
       
        p {
            border-radius: 1rem;
            background-color: #eab208; 
            color: rgba(250, 0, 0, 0.986);
            font-size: 1.19rem;
            font-style: italic;
            margin-right: 0;

        }
    }
    
    footer {
            color: #fff;            
            padding: 20px;           
            text-align: center;     
            font-family: 'Arial', sans-serif;
            border-top: 4px solid #eab208;
             
        
            h3 {
                margin-bottom: 15px;
                font-size: 1.5em;
                color: rgb(255, 255, 255);
            }
        
            ul {
                list-style: none;   
                padding: 0;
                margin: 0;
        
                li {
                    margin-bottom: 10px;
                    font-size: 1.2em;
        
                    strong {
                        color: #ffcc00; 
                    }
                }
            }
        
            a {
                color: #ffcc00;      
                text-decoration: none;
        
                &:hover {
                    text-decoration: underline;
                }
            }
    }
    #card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
    }
    
    .card {
        background-color:  #ec7310d6;
        border: 2px solid #ddd;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        flex: 1 1 calc(33% - 40px); 
        margin: 10px;
        max-width: calc(33% - 40px); 
        padding: 20px;
        text-align: center;
        transition: transform 0.3s, max-height 0.3s ease;
        overflow: hidden;
        box-sizing: border-box; 
        
        &:hover {
            transform: scale(1.1);
            background-color: rgba(240, 235, 235, 0.971);
        }
    }
    
    .card-title {
        font-size: 1.5em;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    
    .card-content {
        font-size: 1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 0;
        transition: max-height 0.4s ease;
        overflow: hidden;
    }
    
    .card.expanded .card-content {
        white-space: normal;
        max-height: 10rem; 
        overflow-y: visible;
        padding: 10px; /* Added padding for content readability */
    }
  
}


